@media (max-width:1340px) {
    .container {
        max-width: 1920px;
        margin: 0 auto;
        padding: 80px 115px;
    }

    header nav ul {
        font-size: 20px;
    }



    .hero {
        gap: 72px;
    }

    .hero__title {
        max-width: 510px;
        font-size: 67px;
    }

    .hero__right-dc span {
        font-size: 22px;
    }

    .collection__cards {
        gap: 29px;
    }

    .collection__title {
        font-size: 38px;
    }

    .collection__paragraph {
        font-size: 22px;
        margin-top: 10px;
    }

    .container-mashroom {
        height: 640px;
    }

    .digest-info h2 {
        font-size: 38px;
        line-height: 45.6px;
    }

    .digest-info p {
        font-size: 22px;
        margin: 12px 0 40px;
    }

}

@media (max-width: 835px) {
    .container {
        padding: 80px 72px;
    }

    header {
        padding: 34px 72px;
    }

    header nav {
        display: none;
    }

    .hero {
        gap: 30px;
    }

    .hero__left h1 {
        max-width: 330px;
        font-size: 38px;
    }

    .hero__left .pr {
        max-width: 330px;
        font-size: 16px;
        line-height: 22.4px;
        margin: 20px 0;
    }

    .hero__left-stats {
        gap: 30px;
    }

    .hero__left-stats span {
        font-size: 22px;
    }

    .hero__left-stats p {
        font-size: 16px;
    }

    .cards__card:last-child {
        display: none;
    }

    .creators__artists .artists-artist:nth-child(n+7) {
        display: none;
    }

    .discover__cards .cards-card:last-child {
        display: none;
    }

    .digest {
        gap: 30px;
        padding: 40px 30px;
    }

    .digest-info h2 {
        font-size: 28px;
        line-height: 39.2px;
    }

    .digest-info p {
        font-size: 16px;
        line-height: 22.4px;
    }

    .digest-form {
        width: 100%;
        align-items: start;
        flex-direction: column;
        background-color: transparent;
        gap: 16px;
    }

    .digest-form input {
        padding: 12px 20px;
    }

    .digest-form button {
        width: 100%;
        justify-content: center;
        padding: 12px 0;
    }
}

@media (max-width:480px) {
    .container {
        padding: 40px 30px;
    }

    header {
        padding: 34px 30px;
    }

    .btn {
        width: 100%;
        justify-content: center;
    }

    header .logo span {
        font-size: 4vw;
    }

    .hero {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero__title {
        margin: 0 auto;
    }

    .hero__right {
        width: 100%;
    }

    .hero__right-bg {
        width: 100%;
    }

    .hero__paragraph {
        font-size: 16px;
        margin: 10px 0 40px;
    }

    .hero__left-stats {
        gap: 22px;
        justify-content: center;
    }

    .browse__title {
        font-size: 28px;
        margin-bottom: 32px;
    }

    .browse__categories {
        grid-template-columns: repeat(2, 152px);
        justify-content: center;
        gap: 24px;
    }

    .browse__categories .category span {
        margin: 20px;
    }

    .collection__cards .cards__card:nth-child(2) {
        display: none;
    }

    .creators__title {
        flex-direction: column;
        gap: 10px;
    }

    .discover__title {
        flex-direction: column;
        gap: 15px;
    }

    .digest {
        flex-direction: column;
        padding: 0;
        background: transparent;
    }

    .digest-img,
    .digest-info {
        width: 100%;
    }


}