* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
p,
li,
button,
span {
    font-family: "Work Sans", sans-serif;
}

h2 {
    font-size: 38px;
}

body {
    background: #2B2B2B;
    color: #fff;
}


.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 80px 200px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 50px;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

header .logo span {
    font-size: 2vw;
}

header nav {
    display: flex;
    gap: 30px;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 26px;
    font-weight: 600;
    list-style: none;
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 19px 30px;
    border: none;
    border-radius: 20px;
    background: #A259FF;
    color: #fff;
    cursor: pointer;
}



/* HERO */

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.hero__title {
    max-width: 563px;
    font-size: 90px;
}

.hero__paragraph {
    max-width: 512px;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
    margin: 20px 0 30px;

}

.hero__left button {
    padding: 19px 50px;
}

.hero__left-stats {
    display: flex;
    gap: 60px;
    margin-top: 30px;
}

.hero__left-stats span {
    font-size: 28px;
    font-weight: 700;
}

.hero__left-stats p {
    font-size: 23.99px;
    font-weight: 400;
    line-height: 38.38px;

}

.hero__right {
    width: 48%;
}

.hero__right-bg {
    width: 100%;
}

.hero__right-dc {
    padding: 22px 20px;
    background: #3B3B3B;
    border-radius: 0 0 20px 20px;

}

.hero__right-dc span {
    font-size: 28px;
    font-weight: 600;
    line-height: 30.8px;
}

.hero__right-dc div {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

/* COLLECTION */

.collection__title {
    font-size: 38px;
}

.collection__paragraph {
    font-size: 22px;
    margin-top: 10px;
}

.collection__cards {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 120px;
    margin-top: 60px;
}

.collection__cards .cards__card .images {
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.collection__cards .cards__card .card-title {
    font-size: 22px;
    font-weight: 600;
}

.collection__cards .cards__card .card-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}


/* CREATORS */

.creators__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}


.creators__title-pr {
    font-size: 22px;
    margin-top: 10px;
}

.creators__title .btn {
    background: transparent;
    border: 1px solid #A259FF;
    padding: 19px 50px;
}

.creators__title .btn:hover {
    background-color: #A259FF;
}

.creators__artists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
}

.creators__artists .artists-artist {
    background: #3B3B3B;
    border-radius: 20px;
    padding: 20px;
}

.creators__artists .artists-artist .artist-info {
    text-align: center;
}

.creators__artists .artists-artist img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.creators__artists .artists-artist .artist-info .name {
    font-size: 22px;
    font-weight: 600;
}

.creators__artists .artist-info p {
    margin-top: 5px;
    font-size: 16px;
    color: #ffffff69;
}

.creators__artists .artist-info p span {
    color: #fff;
}


/* BROWSE */

.browse__title {
    margin-bottom: 60px;
}

.browse__categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
}

.browse__categories .category {
    background: #3B3B3B;
    border: 0 0 20px 20px;
    border-radius: 20px;
}

.browse__categories .category img {
    width: 100%;
}

.browse__categories .category span {
    display: block;
    margin: 20px 30px;
}


/* DISCOVER */


.discover__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.discover__title .btn {
    background: transparent;
    border: 1px solid #A259FF;
}

.discover__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
}

.card-info {
    padding: 20px 30px;
    background: #3B3B3B;
    border-radius: 0 0 20px 20px;
}

.card-price,
.card-bid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #858584;
    font-size: 12px;
}

.card-bid {
    color: #fff;
    font-size: 16px;
    margin-top: 8px;
}

.card-profile {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 5px 0 25px;
}

/* MASHROOMS */
.container-mashroom {
    background-image: url('../images/card/primary2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 895px;
    align-content: end;
}

.mashrooms {
    display: flex;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
    padding: 80px 200px;
    align-items: end;
    height: 100%;
    font-size: 51px;
}

.mashrooms-profile {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    background-color: #3B3B3B;
    padding: 10px 20px;
    border-radius: 20px;
}

.mashrooms h1 {
    margin: 30px 0;
}

.mashrooms .btn {
    background-color: #fff;
    color: #000;
}

.works__title {
    margin-bottom: 10px;
}

.works p {
    margin-bottom: 48px;
}

.works__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    flex-wrap: wrap;

}

.works__cards .cards-card {
    max-width: 330px;
    background: #3B3B3B;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
}

.works__cards img {
    display: block;
    margin: 0 auto;
}

/* DIGEST */

.digest {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 60px;
    border-radius: 20px;
    background: #3B3B3B;
}

.digest-img,
.digest-info {
    width: 50%;
}

.digest-info h2 {
    font-size: 64px;
    line-height: 62px;
}

.digest-info p {
    font-size: 32px;
    line-height: 35.2px;
    margin: 40px 0 50px;
    max-width: 570px;
}

.digest-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 20px;
    width: 420px;
}

.digest-form input {
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 19px 0 20px 20px;
    border-radius: 20px;
}

.digest-form input:focus {
    outline: none;
}

.digest-form button {
    background-color: #A259FF;
    border: none;
    padding: 19px 50px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.digest-form button:hover {
    background-color: #8747dc;
}